<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Comprador</title>
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'Imgs/logoCorazon.jpg' %}" type="image/gif" />
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg" style="background-color: #ebe4d4;">
        <div class="container-fluid">
            <a class="logo" href="{% url 'Gestion_de_Usuarios_tipo_Comprador:indexComprador' pk=comprador.pk %}"><img src="{% static 'Imgs/logoCA.jpeg' %}" width="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="{% url 'Gestion_de_Usuarios_tipo_Comprador:indexComprador' pk=comprador.pk %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="{% url 'Gestion_de_Productos:catalogo' pk=comprador.pk %}">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" href="#">Historial de compras</a>
                    </li>
                </ul>
                
                <div class="nav-item dropdown dropstart">
                    <a class="nav-link logo" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'Imgs/user-solid.png' %}" width="35"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'Gestion_de_Usuarios_tipo_Comprador:perfilComprador' pk=comprador.pk %}">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'Gestion_de_Usuarios_tipo_Comprador:loginComprador' %}">Cerrar Sesion</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center flex-grow-1" style="background-color: #cc9966;">
        <div class="card">
            <div class="card-header" style="background-color: #fbebdb;">
                <h1>{{ comprador.username }}</h1>
            </div>
            <div class="card-body" style="background-color: #fbebdb;">
                <h2 class="card-text">{{ comprador.first_name }}</h2>
                <h2 class="card-text">{{ comprador.last_name }}</h2>
                <h4 class="card-text">{{ comprador.direccion }}</h4>
                <h4 class="card-text">{{ comprador.fecha_nacimiento }}</h4>
                <h3 class="card-text">{{ comprador.email }}</h3>
                <h3 class="card-text">{{ comprador.password }}</h3>
                <h3 class="card-text">{{ comprador.telefono }}</h3>
            </div>
            <div class="card-footer text-center" style="background-color: #fbebdb;">
                <a class="btn" href="{% url 'Gestion_de_Usuarios_tipo_Comprador:indexComprador' pk=comprador.pk %}" role="button" value="Confirm" style="background-color: #9f8f82; color: #fff;">Volver</a>
            </div>
        </div>
    </div>
    <div class="footer_section mt-auto" style="background-color: #221911;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <h2 class="useful_text text-center" style="color: white;">Corazon Artesanal</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>